{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/single_page_header.html' with title="Cart"%}


<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>

                    {% include 'cart/cart_item.html' %}

                </tbody>
            </table>
        </div>

        {% include 'cart/cart_total.html' with cart=cart%}
    </div>
</div>

{% endblock content %}