{% extends 'base.html' %}
{% load static i18n%}
{% block content %}

{% trans "Cart" as page_title %}

{% include 'partials/single_page_header.html' with title=page_title%}


<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{% trans "Products" %}</th>
                    <th scope="col">{% trans "Name" %}</th>
                    <th scope="col">{% trans "Price" %}</th>
                    <th scope="col">{% trans "Quantity" %}</th>
                    <th scope="col">{% trans "Total" %}</th>
                    <th scope="col">{% trans "Handle" %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                        {% include 'cart/cart_item.html' with item=i%}
                    {% endfor %}
                </tbody>
            </table>
        </div>

{#        {% include 'cart/cart_total.html' with cart=cart%}#}
    </div>
</div>

{% endblock content %}