{% load static i18n%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% trans "Login" %}</title>
        <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    </head>

    {% include 'partials/header.html' %}

    <body>
        <div class="auth-container">

            <h1>{% trans "Login" %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button type="submit">{% trans "Log in" %}</button>
            </form>
            <p>{% trans "Don't have an account?" %}
                <br>
               <a href="{% url 'user:register' %}?next={{ request.GET.next }}" class="sign-up-button">{% trans "Sign Up" %}</a>
            </p>

        </div>
    </body>
</html>
