<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="submit">Log in</button>
    </form>
    <p>Don't have an account?
       <a href="{% url 'user:register' %}?next={{ request.GET.next }}" class="sign-up-button">Sign Up</a>
    </p>
</body>
</html>
