{% load static %}
<div class="col-md-12 col-lg-6 col-xl-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>

                {% include 'checkout/item.html' %}

                <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5"></td>
                    <td class="py-5"></td>
                    <td class="py-5">
                        <p class="mb-0 text-dark py-3">Subtotal</p>
                    </td>
                    <td class="py-5">
                        <div class="py-3 border-bottom border-top">
                            <p class="mb-0 text-dark">$414.00</p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5">
                        <p class="mb-0 text-dark py-4">Shipping</p>
                    </td>
                    <td colspan="3" class="py-5">
                        <div class="form-check text-start">
                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
                            <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                        </div>
                        <div class="form-check text-start">
                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
                            <label class="form-check-label" for="Shipping-2">Flat rate: $15.00</label>
                        </div>
                        <div class="form-check text-start">
                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                            <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5">
                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                    </td>
                    <td class="py-5"></td>
                    <td class="py-5"></td>
                    <td class="py-5">
                        <div class="py-3 border-bottom border-top">
                            <p class="mb-0 text-dark">$135.00</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{#                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">#}
{#                        <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>#}
{#                    </div>#}

</div>