{% load static %}
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Organic products shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">

                        <!-- Search -->
                        <form method="GET" action="{% url 'store:all_categories' %}">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" name="filter_name" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <button type="submit" id="search-icon-1" class="input-group-text p-3">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Sorting:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="">Nothing</option>
                                <option value="price_asc">Price ascending</option>
                                <option value="price_desc">Price descending</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">

                            <!-- Subcategories -->
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    {% if subcategories %}
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        {% for c in subcategories %}
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a href="{% url 'store:category_listing' c.slug %}"><i class="fas fa-apple-alt me-2"></i>{{ c.name }}</a>
                                                    <span></span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <!-- Price Filter -->
                                {% if current_category %}
                                  <form method="GET" action="{% url 'store:category_listing' current_category %}">
                                {% else %}
                                  <form method="GET" action="{% url 'store:all_categories' %}">
                                {% endif %}
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="filter_price" min="0" max="30" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" for="rangeInput">0</output>
                                    </div>

                                    <!-- Tags Filter -->
                                    <div class="mb-3">
                                        <h4>Tags</h4>
                                        {% for tag in tags %}
                                            <div class="mb-2">
                                                <input type="radio" name="filter_tag" class="me-2" id="tag_{{ tag.id }}" value="{{ tag.name }}">
                                                <label for="tag_{{ tag.id }}"> {{ tag.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-9">
                    <div class="row">
                        {% for p in page_obj %}
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                {% include 'index/product.html' with product=p %}
                            </div>
                        {% endfor %}

                        <!-- Pagination -->
                        <div class="pagination d-flex justify-content-center mt-5">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class="rounded">&laquo;</a>
                            {% endif %}
                            {% for page_num in get_elided_page_range %}
                                {% if page_num == '…' %}
                                    <a href="javascript:void(0)" class="rounded">...</a>
                                {% else %}
                                    <a href="?page={{ page_num }}" class="{% if page_num == page_obj.number %}active{% endif %} rounded">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="rounded">&raquo;</a>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
